%table.inbox{data: {update_in_inbox: true}}
  - @documents.each do |document|
    %tr.inbox-document.document-droppable-area{"data-document-path" => document_update_in_inbox_path(document.id)}
      %td
        = link_to document.title, document_path(document.id)
        - if document.label
          %span.label
            %span.label-action= link_to "x", "#"
            = document.label
      %td.inbox-document-date= document.created_at.to_date.to_formatted_s(:long)
