%ul.documents-grid
  - @documents.each do |document|
    %li.document-thumb
      = link_to image_tag(document_thumb_path(document.id), class: "thumb"), document_path(document.id)
      %p
        = link_to document.title, document_path(document.id)
        %br
        %span.document-thumb-date= document.date


