.row
  .large-4.columns
    %h2= @document.title
.row
  .large-10.columns
    - @pages.each do |page|
      = image_tag document_page_snapshot_path(@document.id, page.id), title: "Page ##{page.number}"
  .large-2.columns
    = link_to "Download", document_download_path(@document.id), class: "button"
