@import "globals/all";

// Area to drop files from the desktop
.drag-and-drop-files {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $black;
  color: $white;
  font-size: 2em;
  text-align: center;
  padding: 2em;
  @include box-sizing(border-box);
  opacity:0.8;

  &.is-active {
    display: block;
  }
}
