@import "globals/all";

// Grid of documents

.documents-grid {
  @include block-grid(8);
}

.document-thumb {
  padding: 0.8em;
}

.document-thumb-image {
  max-width: 100%;
  @include box-sizing(border-box);
  display: block;
  margin: auto;
}

.document-thumb-caption {
  margin: 0;
  margin-top: 0.4em;
  overflow: hidden;
  text-overflow: ellipsis;;
  white-space: nowrap;
}

.document-thumb-caption-date {
  color: $gray;
  font-style: italic;
  font-size: 0.8em;
}