@import "globals/all";

// Inbox like document table
.inbox {
  width: 100%;
  border-collapse: collapse;
}

.inbox-document {
  @include separation(bottom);
}

.inbox-document > td {
  padding: 0.6em 0;
}

.inbox-document-date {
  text-align: right;
  color: $gray;
  font-style: italic;
  font-size: 0.8em;
}