@import "globals/all";

// List of labels for navigation
.labels-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.labels-list > hr {
  border: 0;
  @include separation(top);
}

.labels-list > li {
  padding: 0.2em;
}

.is-label-selected {
  font-weight: bold;
}
