$black: #222222;
$grey: #969696;

#header {
  border-bottom: 1px solid $black;
  margin-bottom: 1em;
}

.documents {
  width: 100%;

  .date {
    text-align: right;
    color: $grey;
    font-size: 0.8em;
    font-style: italic;
  }
}
