@import "globals/all";

#header {
  @include row(center);
  padding: 1em 0;
  @include separation(bottom);

  #header-logo {
    @include columns(2);

    h1 {
      margin: 0;
      font-size: 1.8em;
      font-weight: normal;

      a {
        color: inherit;
      }
    }
  }
  
  #header-navigation {
    @include columns(4, 6);
    text-align: right;

    .button {
      margin-left: 1em;
    }
  }

  #header-browse-link {
    @include columns(2);
  }

  #header-add-new-link {
    
    @include columns(2); 
  }
}

#content {
  @include row;

  #content-navigation {
    @include columns(2);
    @include separation(right);
    margin-top: 1em;
  }

  #content-main {
    @include columns(10);
    margin-top: 1em;
  }
}

#notification-area {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  @include box-sizing(border-box);
  width: 20em;
  padding: 0.6em;
  overflow: hidden;
}