@import "globals/all";

// Reusable grid and column classes

#header {
  @include row(center);
  padding: 1em 0;
  border-bottom: 1px solid lighten($gray, 40%);

  #header-logo {
    @include columns(2);

    h1 {
      text-align: center;
      margin: 0;
      font-size: 1.8em;
      font-weight: normal;

      a {
        color: inherit;
      }
    }
  }
  
  #header-navigation {
    @include columns(4, 6);
    text-align: right;

    .button {
      margin-left: 1em;
    }
  }

  #header-browse-link {
    @include columns(2);
  }

  #header-add-new-link {
    
    @include columns(2); 
  }
}

#content {
  @include row;

  #content-navigation {
    @include columns(2);
    border-right: 1px solid lighten($gray, 40%);
  }

  #content-main {
    @include columns(10);
  }
}