@import "globals/all";

// Global states

@keyframes blinker {  
  0% { opacity: 1; background: rgba(0, 0, 0, 0.2); }
  50% { opacity: 0.5; background: rgba(255, 255, 255, 0.2); }
  100% { opacity: 1; background: rgba(0, 0, 0, 0.2); }
}

.is-processing {
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.is-selected {
  font-weight: bold;
}